<!DOCTYPE html>
<html>
<head>
  <title>he page you were looking for doesn't exist (404)</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <div id="spree-header">
      <!--Navbar-->
      <nav class="navbar navbar-fixed-top scrolling-navbar navbar-dark bg-primary">

        <div class="container">
          <div class="row row1">
            <ul class="largenav pull-right">
              <li class="upper-links"><%= link_to Spree.t(:home), spree.root_path,  :class=>'links' %></li>
              <%= render partial: 'shared/login_bar' %>
              <li class="upper-links">
                <a class="links" href="">
                  <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                </a>
              </li>
            </ul>
          </div>

          <div class="row row2">
            <!--Navbar Brand-->
            <div class="col-sm-2">
              <figure id="logo" data-hook>
                <%= logo %>
              </figure>
              <!--<h1 style="margin:0px;"><span class="largenav">Toy Tokri</span></h1> -->
            </div>
            <div class="tokri-navbar-search smallsearch col-sm-8 col-xs-11">
              <div class="row">
                <%= render partial: 'shared/search' %>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <!--/.Navbar-->
    </div>


  <!-- This file lives in public/404.html -->
  <div id="page-not-found">
    <span id="page-not-found-link">Go back to <%= link_to "toytokri.com", spree.root_path %> or <%= link_to "contact us", spree.root_path %> about the problem.</span>
    <figure>
      <img id="error-image" src="/image/error_404.png" alt="The page you were looking for doesn't exist">
    </figure>
  </div>
</body>
<%#= render partial: "shared/footer" %>
</html>
