
<div id="spree-header">
<!--Navbar-->
<nav class="navbar navbar-fixed-top scrolling-navbar navbar-dark bg-primary">

  <div class="container">
    <div class="row row1">
      <ul class="largenav pull-right">
        <li class="upper-links"><%= link_to Spree.t(:home), spree.root_path %></li>
        <%= render partial: 'shared/login_bar' %>
        <li class="upper-links">
          <a class="links" href="">
            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </div>

    <div class="row row2">
        <!--Navbar Brand-->
        <div class="col-sm-2">
            <figure id="logo" data-hook>
                <%= logo %>
            </figure>
            <!--<h1 style="margin:0px;"><span class="largenav">Toy Tokri</span></h1> -->
        </div>
        <div class="tokri-navbar-search smallsearch col-sm-8 col-xs-11">
            <div class="row">
                <%= render partial: 'shared/search' %>
            </div>
        </div>
        <div class="cart largenav col-sm-2">
          <span class="nav navbar-nav cart-button" data-hook>
            <span id="link-to-cart" data-hook>
              <noscript>
                <%= link_to Spree.t(:cart), '/cart' %>
              </noscript>
              &nbsp;
            </span>
            <script>Spree.fetch_cart()</script>
          </span>
        </div>
    </div>
  </div>
 </nav>
<!--/.Navbar-->
</div>
